.menu{
    text-decoration: none;
    color: #8c8c8c;
    font-size: 20px;
    margin: 10px 5px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    text-align: right;
    width:60%;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.menu li a{
    text-decoration: none;
    color: #666;
}