@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
figure.contenedorProyecto {
  flex: 1;
  height: 50%;
  width: 50%;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: auto 10px;
  color: #555;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.contenedorProyecto * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.contenedorProyecto .image {
  background-color: #fff;
  overflow: hidden;
}
figure.contenedorProyecto img {
  max-width: 100%;
  max-height: 90px;
  vertical-align: top;
}
figure.contenedorProyecto figcaption {
  width: 85%;
  margin: 5px auto;
}

figure.contenedorProyecto p {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}
figure.contenedorProyecto .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}
figure.contenedorProyecto:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 1);
}
figure.contenedorProyecto:hover .add-to-cart {
  background-color: rgba(0, 0, 0, 0.5);
}